___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Choropleth Maps Exercise 

Welcome to the Choropleth Maps Exercise! In this exercise we will give you some simple datasets and ask you to create Choropleth Maps from them. Due to the Nature of Plotly we can't show you examples

[Full Documentation Reference](https://plot.ly/python/reference/#choropleth)

## Plotly Imports

In [1]:
import plotly.graph_objs as go 
from plotly.offline import init_notebook_mode,iplot
init_notebook_mode(connected=True)

** Import pandas and read the csv file: 2014_World_Power_Consumption**

In [3]:
import pandas as pd
wp = pd.read_csv('2014_World_Power_Consumption')
wp.head

            Country  Power Consumption KWH                        Text
0             China           5.523000e+12     China 5,523,000,000,000
1     United States           3.832000e+12    United 3,832,000,000,000
2          European           2.771000e+12  European 2,771,000,000,000
3            Russia           1.065000e+12    Russia 1,065,000,000,000
4             Japan           9.210000e+11       Japan 921,000,000,000
5             India           8.647000e+11       India 864,700,000,000
6           Germany           5.401000e+11     Germany 540,100,000,000
7            Canada           5.110000e+11      Canada 511,000,000,000
8            Brazil           4.835000e+11      Brazil 483,500,000,000
9            Korea,           4.824000e+11      Korea, 482,400,000,000
10           France           4.511000e+11      France 451,100,000,000
11   United Kingdom           3.191000e+11      United 319,100,000,000
12            Italy           3.031000e+11       Italy 303,100,000,000
13           Taiwan           2.495000e+11      Taiwan 249,500,000,000
14            Spain           2.431000e+11       Spain 243,100,000,000
15           Mexico           2.340000e+11      Mexico 234,000,000,000
16            Saudi           2.316000e+11       Saudi 231,600,000,000
17        Australia           2.226000e+11   Australia 222,600,000,000
18            South           2.116000e+11       South 211,600,000,000
19           Turkey           1.970000e+11      Turkey 197,000,000,000
20             Iran           1.953000e+11        Iran 195,300,000,000
21        Indonesia           1.675000e+11   Indonesia 167,500,000,000
22          Ukraine           1.598000e+11     Ukraine 159,800,000,000
23         Thailand           1.559000e+11    Thailand 155,900,000,000
24           Poland           1.390000e+11      Poland 139,000,000,000
25            Egypt           1.356000e+11       Egypt 135,600,000,000
26           Sweden           1.305000e+11      Sweden 130,500,000,000
27           Norway           1.264000e+11      Norway 126,400,000,000
28         Malaysia           1.185000e+11    Malaysia 118,500,000,000
29        Argentina           1.171000e+11   Argentina 117,100,000,000
..              ...                    ...                         ...
189         Central           1.683000e+08         Central 168,300,000
190           Turks           1.674000e+08           Turks 167,400,000
191       Gibraltar           1.600000e+08       Gibraltar 160,000,000
192        American           1.460000e+08        American 146,000,000
193          Sierra           1.349000e+08          Sierra 134,900,000
194           Saint           1.302000e+08           Saint 130,200,000
195           Saint           1.274000e+08           Saint 127,400,000
196     Timor-Leste           1.253000e+08     Timor-Leste 125,300,000
197      Equatorial           9.300000e+07       Equatorial 93,000,000
198           Samoa           9.040000e+07            Samoa 90,400,000
199        Dominica           8.975000e+07         Dominica 89,750,000
200         Western           8.370000e+07          Western 83,700,000
201         Solomon           7.905000e+07          Solomon 79,050,000
202             Sao           6.045000e+07              Sao 60,450,000
203         British           5.115000e+07          British 51,150,000
204         Vanuatu           4.929000e+07          Vanuatu 49,290,000
205   Guinea-Bissau           4.650000e+07    Guinea-Bissau 46,500,000
206           Tonga           4.464000e+07            Tonga 44,640,000
207           Saint           3.999000e+07            Saint 39,990,000
208         Comoros           3.999000e+07          Comoros 39,990,000
209            Cook           2.895000e+07             Cook 28,950,000
210        Kiribati           2.418000e+07         Kiribati 24,180,000
211      Montserrat           2.325000e+07       Montserrat 23,250,000
212           Nauru           2.325000e+07            Nauru 23,250,000
213        Falkland           1.116000e+07         Falkland 11,160,000
214           Saint           7.440000e+06             Saint 7,440,000
215            Niue           2.790000e+06              Niue 2,790,000
216            Gaza           2.020000e+05                Gaza 202,000
217           Malta           1.747000e+05               Malta 174,700
218        Northern           4.830000e+04             Northern 48,300

[219 rows x 3 columns]

** Check the head of the DataFrame. **

         Country  Power Consumption KWH                        Text
0          China           5.523000e+12     China 5,523,000,000,000
1  United States           3.832000e+12    United 3,832,000,000,000
2       European           2.771000e+12  European 2,771,000,000,000
3         Russia           1.065000e+12    Russia 1,065,000,000,000
4          Japan           9.210000e+11       Japan 921,000,000,000

** Referencing the lecture notes, create a Choropleth Plot of the Power Consumption for Countries using the data and layout dictionary. **

In [ ]:
choromap = go.Figure(data = [data],layout = layout)
iplot(choromap,validate=False)

## USA Choropleth

** Import the 2012_Election_Data csv file using pandas. **

** Check the head of the DataFrame. **

,Year,ICPSR State Code,Alphanumeric State Code,State,VEP Total Ballots Counted,VEP Highest Office,VAP Highest Office,Total Ballots Counted,Highest Office,Voting-Eligible Population (VEP),Voting-Age Population (VAP),% Non-citizen,Prison,Probation,Parole,Total Ineligible Felon,State Abv
0,2012,41,1,Alabama,NaN,58.6%,56.0%,NaN,"2,074,338","3,539,217",3707440.0,2.6%,"32,232","57,993","8,616","71,584",AL
1,2012,81,2,Alaska,58.9%,58.7%,55.3%,"301,694","300,495","511,792",543763.0,3.8%,"5,633","7,173","1,882","11,317",AK
2,2012,61,3,Arizona,53.0%,52.6%,46.5%,"2,323,579","2,306,559","4,387,900",4959270.0,9.9%,"35,188","72,452","7,460","81,048",AZ
3,2012,42,4,Arkansas,51.1%,50.7%,47.7%,"1,078,548","1,069,468","2,109,847",2242740.0,3.5%,"14,471","30,122","23,372","53,808",AR
4,2012,71,5,California,55.7%,55.1%,45.1%,"13,202,158","13,038,547","23,681,837",28913129.0,17.4%,"119,455",0,"89,287","208,742",CA

** Now create a plot that displays the Voting-Age Population (VAP) per state. If you later want to play around with other columns, make sure you consider their data type. VAP has already been transformed to a float for you. **

In [ ]:
choromap = go.Figure(data = [data],layout = layout)
iplot(choromap,validate=False)

# Great Job!